##################################################
############     BED CONFIGURATION     ###########
##################################################

[heater_bed]
heater_pin: PA1  # Define the pin (PA1) controlling the bed heater.
sensor_pin: PF4  # Define the pin (PF4) used for reading the temperature sensor.
sensor_type: EPCOS 100K B57560G104F  # Specify the type of temperature sensor used (EPCOS 100K thermistor).
control: pid  # Use PID control for maintaining bed temperature.
pid_Kp: 45.571  # Set the proportional gain for the PID controller.
pid_Ki: 1.282  # Set the integral gain for the PID controller.
pid_Kd: 405.016  # Set the derivative gain for the PID controller.
max_power: 0.95  # Limit the maximum power to 95% to prevent overheating.
pwm_cycle_time: 0.0166  # Set the PWM cycle time to 16.6 milliseconds.
min_temp: 0  # Set the minimum allowed bed temperature to 0°C.
max_temp: 150  # Set the maximum allowed bed temperature to 150°C.

[safe_z_home]
home_xy_position: 143, 120  # Define the safe position (X=143, Y=120) for homing the Z-axis.
speed: 800  # Set the speed for moving to the home position to 800 mm/min.
z_hop: 10  # Raise the Z-axis by 10mm before homing to avoid collisions with the bed or printed part.


#####################################################################
# 	Bed Mesh Calibrate
#####################################################################

[bed_mesh] 
speed: 500
horizontal_move_z: 1
mesh_min: 0, 30
mesh_max: 285, 270
probe_count: 15,15 
mesh_pps: 3,3
algorithm: bicubic
bicubic_tension: 0.1
fade_start: 1
fade_end: 5
fade_target: 0
adaptive_margin: 5
zero_reference_position: 143, 120

#####################################################################
# 	Bed Z Tilt
#####################################################################
[z_tilt] 
z_positions: #Nozzle to GE5C
  -80,  -20
  143, 355
  350, -20
points:
  5, 5 #15, 5
  5, 240  #15, 240
  285, 240  #275, 240
  285, 5 #275, 5
speed: 600
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.08

#####################################################################
# 	Bed Screws Adjust
#####################################################################
[bed_screws]
screw1: 0,0 ## front left screw
screw2: 250,0 ## front right screw
screw3: 250,240 ## rear right screw
screw4: 0,240 ##rear left screw

[screws_tilt_adjust]
screw1: -5, 30
screw1_name: front left screw
screw2: 155, 30
screw2_name: front right screw
screw3: 155, 190
screw3_name: rear right screw
screw4: -5, 190
screw4_name: rear left screw
horizontal_move_z: 10.
speed: 50.
screw_thread: CW-M3

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: scanner
min_temp: 0
max_temp: 125

#[gcode_macro PROBE_CALIBRATE]
#gcode:
#    CARTOGRAPHER_CALIBRATE