# This file contains common pin mappings for the BigTreeTech OctoPus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.
#Update Firmware MCU
# https://github.com/bigtreetech/BIGTREETECH-OCTOPUS-V1.0/tree/master/Firmware/Klipper
#####################################################################
# 	Hypercube HSCore - 2022
#####################################################################

##########################################
# 	 General settings
##########################################

##Octopus V1.1 Pro##
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_430014000A50534E4E313120-if00

[mcu rpi]
serial: /tmp/klipper_host_mcu

##RPI2040 | SuperNova##
[mcu supernova]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E66038B713404A31-if00

#[output_pin power_LED]
#pin: supernova:gpio25
#value: 1


##PROBE
#[include bed_qd2.cfg]
[include bed_inductive.cfg]

###########################
#[include XY4WD_Supernova_2209.cfg]
[include XY4WD_Supernova_5160.cfg]

##Macros##
[include macro/*.cfg]

##GitHub##
[include git/*.cfg]

##Calibration Macros##
[include calibration/*.cfg]

##Hardware Config##
[include hardware/*.cfg]

##Klicky##
#[include hardware/klicky/klicky-probe.cfg]

[respond]

[display_status]

[exclude_object]

#Pause/Resume Functionality
[pause_resume]
recover_velocity: 350

[virtual_sdcard]
path: ~/gcode_files

[force_move]
enable_force_move: true

[idle_timeout]
gcode:
    TURN_OFF_HEATERS
    M84 X Y E
    #PSU_OFF
timeout: 1200

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 25000
#max_accel_to_decel: 6500
max_z_velocity: 30
max_z_accel: 300
square_corner_velocity: 5

[gcode_arcs]
resolution: 0.05

[gcode_macro PARK_MANTENIMIENTO]
gcode:
  G28
  G1 X125 Y125 Z185 F6000
  M84
  TURN_OFF_HEATERS

[gcode_macro BED_MESH_COMPLETO]
gcode:
  G28
  Attach_Probe_Lock
  Z_TILT_ADJUST
  G29
  Dock_Probe_Unlock

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 0.200