# This file contains common pin mappings for the BigTreeTech OctoPus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.
#Update Firmware MCU
# https://github.com/bigtreetech/BIGTREETECH-OCTOPUS-V1.0/tree/master/Firmware/Klipper
#####################################################################
# 	HSCore VZ24r2 - 2022/2023/2024 - General settings
#####################################################################


##Octopus V1.1 Pro##
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_430014000A50534E4E313120-if00
restart_method: command

##RPI4##
[mcu rpi]
serial: /tmp/klipper_host_mcu

##RPI2040 | SuperNova##
#[mcu supernova]
#serial: /dev/serial/by-id/usb-Klipper_rp2040_E66038B713404A31-if00

##StrideMax Dual X
[mcu stridemax_dual_X]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E6612C771F892629-if00

##StrideMax Dual Y
[mcu stridemax_dual_Y]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E6612C771F896A2B-if00

[gcode_shell_command plot_graph]
command: bash /home/pi/printer_data/config/scripts/plot_graphs.sh
timeout: 500.0
verbose: True

[cartographer]
serial: /dev/serial/by-id/usb-Cartographer_614e_130002001443565537353020-if00
speed: 40 #   Z probing dive speed.
lift_speed: 5 #   Z probing lift speed.
backlash_comp: 0.5 #   Backlash compensation distance for removing Z backlash before measuring the sensor response.  
x_offset: 0 #   X offset of cartographer from the nozzle.
y_offset: 27.065 #   Y offset of cartographer from the nozzle.
trigger_distance: 2 #   cartographer trigger distance for homing.
trigger_dive_threshold: 1.5 #   Threshold for range vs dive mode probing. Beyond `trigger_distance + trigger_dive_threshold` a dive will be used.
trigger_hysteresis: 0.006 #   Hysteresis on trigger threshold for untriggering, as a percentage of the trigger threshold.
cal_nozzle_z: 0.1 #   Expected nozzle offset after completing manual Z offset calibration.
cal_floor: 0.1 #   Minimum z bound on sensor response measurement.
cal_ceil:5 #   Maximum z bound on sensor response measurement.
cal_speed: 1.0 #   Speed while measuring response curve.
cal_move_speed: 10 #   Speed while moving to position for response curve measurement.
default_model_name: default #   Name of default cartographer model to load.
mesh_main_direction: x #   Primary travel direction during mesh measurement.
#mesh_overscan: -1 #   Distance to use for direction changes at mesh line ends. Omit this setting and a default will be calculated from line spacing and available travel.
mesh_cluster_size: 1 #   Radius of mesh grid point clusters.
mesh_runs: 2 #   Number of passes to make during mesh scan.
tc_a_a:3.1981809247116046e-06
tc_a_b:0.8273646697035227
tc_b_a:-0.0007675634091086801
tc_b_b:-198.5675218518161

[include bed_cartographer.cfg]
#[include bed_quickdraw.cfg]
#[include adaptive_mesh.cfg]
[include K-ShakeTune/*.cfg]
#[include klicky/*.cfg]
#[include klicky/klicky-variables.cfg]
[include conf.d/*.conf]
[include calibration/*.cfg]
[include hardware/*.cfg]
[include macro/*.cfg] 
[include git/*.cfg]
[include timelapse.cfg]

[respond]

[display_status]

[exclude_object]

[pause_resume]
recover_velocity: 350

[virtual_sdcard]
path: /home/pi/printer_data/gcodes

[force_move]
enable_force_move: true

[idle_timeout]
gcode:
    TURN_OFF_HEATERS
    M84
timeout: 1600

[printer]
kinematics: corexy
max_velocity: 1000
max_accel: 65000
minimum_cruise_ratio: 0.5
max_z_velocity: 30
max_z_accel: 300
square_corner_velocity: 50

[gcode_arcs]
resolution: 0.1

[firmware_retraction]
retract_length: 0.2
retract_speed: 65
unretract_speed: 65

[gcode_macro HEAT_SOAK]
gcode:
  #G28
  #G1 Z20 
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=110
  SET_FAN_SPEED FAN=RSCS SPEED=0.25
  M106 S90 # CPAP ON

[gcode_macro HEAT_OFF]
gcode:
  M106 S0 ; Layer cooling fan off
  TURN_OFF_HEATERS
  SET_FAN_SPEED FAN=RSCS SPEED=0

[gcode_macro PARK_MANTENIMIENTO]
gcode:
  G28
  G1 X125 Y125 Z185 F6000
  M84
  TURN_OFF_HEATERS

#[gcode_macro BED_MESH_CALIBRATE]
#rename_existing: _BED_MESH_CALIBRATE
#gcode:
#    {% set TARGET_TEMP = printer.heater_bed.target %}
#    M140 S0
#    _BED_MESH_CALIBRATE {rawparams}
#    M140 S{TARGET_TEMP}#

[gcode_macro BED_MESH_COMPLETO]
gcode:
  G28
  Attach_Probe_Lock
  Z_TILT_ADJUST
  G28
  BED_MESH_CALIBRATE
  Dock_Probe_Unlock

[gcode_macro BED_MESH]
gcode:
  G28
  BED_MESH_CALIBRATE

#[skew_correction]

[gcode_macro ENABLE_STEPPER]
gcode: 
  SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=1 
  SET_STEPPER_ENABLE STEPPER=stepper_x1 ENABLE=1 
  SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=1 
  SET_STEPPER_ENABLE STEPPER=stepper_y1 ENABLE=1

[include moonraker_obico_macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [cartographer model default]
#*# model_coef = 1.370472590503558,
#*# 	1.781461081433861,
#*# 	0.7430402515258979,
#*# 	0.37472388809771473,
#*# 	0.3979919732333088,
#*# 	0.3315353853926449,
#*# 	-0.24926441346822925,
#*# 	-0.2378990372669028,
#*# 	0.28985579203724954,
#*# 	0.20471603698744265
#*# model_domain = 3.165281193110668e-07,3.3261964869207474e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 24.856479
#*# model_offset = 0.22000
#*#
#*# [input_shaper]
#*# shaper_type_x = ei
#*# shaper_freq_x = 119.4
#*# shaper_type_y = mzv
#*# shaper_freq_y = 81.4
