# This file contains common pin mappings for the BigTreeTech OctoPus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.
#Update Firmware MCU
# https://github.com/bigtreetech/BIGTREETECH-OCTOPUS-V1.0/tree/master/Firmware/Klipper
#####################################################################
# 	HSCore VZ24r2 - 2022/2023/2024 - General settings
#####################################################################

##Octopus V1.1 Pro##
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_430014000A50534E4E313120-if00
restart_method: command

##RPI4##
[mcu rpi]
serial: /tmp/klipper_host_mcu

##RPI2040 | SuperNova##
#[mcu supernova]
#serial: /dev/serial/by-id/usb-Klipper_rp2040_E66038B713404A31-if00

##StrideMax Dual X
[mcu stridemax_dual_X]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E6612C771F892629-if00

##StrideMax Dual Y
[mcu stridemax_dual_Y]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E6612C771F896A2B-if00

[gcode_shell_command plot_graph]
command: bash /home/pi/printer_data/config/scripts/plot_graphs.sh
timeout: 500.0
verbose: True

[include bed_quickdraw.cfg]
[include adaptive_mesh.cfg]
[include K-ShakeTune/*.cfg]
[include klicky/*.cfg]
[include klicky/klicky-variables.cfg]
[include conf.d/*.conf]
[include calibration/*.cfg]
[include hardware/*.cfg]
[include macro/*.cfg] 
[include git/*.cfg]
[include timelapse.cfg]

[respond]

[display_status]

[exclude_object]

[pause_resume]
recover_velocity: 350

[virtual_sdcard]
path: /home/pi/printer_data/gcodes

[force_move]
enable_force_move: true

[idle_timeout]
gcode:
    TURN_OFF_HEATERS
    M84
timeout: 1600

[printer]
kinematics: corexy
max_velocity: 1000
max_accel: 85000
#minimum_cruise_ratio: 0.5
max_z_velocity: 30
max_z_accel: 300
square_corner_velocity: 15

[gcode_arcs]
resolution: 0.1

[firmware_retraction]
retract_length: 0.2
retract_speed: 65
unretract_speed: 65

[gcode_macro HEAT_SOAK]
gcode:
  #G28
  #G1 Z20 
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=110
  SET_FAN_SPEED FAN=RSCS SPEED=0.25
  M106 S90 # CPAP ON

[gcode_macro HEAT_OFF]
gcode:
  M106 S0 ; Layer cooling fan off
  TURN_OFF_HEATERS
  SET_FAN_SPEED FAN=RSCS SPEED=0

[gcode_macro PARK_MANTENIMIENTO]
gcode:
  G28
  G1 X125 Y125 Z185 F6000
  M84
  TURN_OFF_HEATERS

[gcode_macro BED_MESH_COMPLETO]
gcode:
  G28
  Attach_Probe_Lock
  Z_TILT_ADJUST
  G28
  BED_MESH_CALIBRATE
  Dock_Probe_Unlock

[gcode_macro BED_MESH]
gcode:
  G28
  BED_MESH_CALIBRATE

#[skew_correction] 


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#