##################################################
#########     FILAMENT CONFIGURATION     #########
##################################################

[filament_motion_sensor filament_sensor]
detection_length: 10.0
extruder: extruder
switch_pin: !PG11
pause_on_runout: FALSE
runout_gcode:
    M600
insert_gcode:

######################### FILAMENT #########################
[gcode_macro M600]
gcode:
    CHANGE_FILAMENT

[gcode_macro PURGAR]
gcode:
    M83                            ; set extruder to relative
    G1 E120 F250

[delayed_gcode DISABLEFILAMENTSENSOR]	
initial_duration: 1
gcode:
	SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0

[gcode_macro CHANGE_FILAMENT]
description: Do a PAUSE, park the toolhead over the purge bucket and unload the filament
gcode:
    {% set TEMP = params.TEMP|default(printer["gcode_macro _USER_VARIABLES"].print_default_extruder_temp)|float %}

     	SAVE_GCODE_STATE NAME=CHANGE_FILAMENT_state
    PAUSE
    PARK
    PLAY_CAMBIO_DE_FILA
    UNLOAD_FILAMENT
    RESTORE_GCODE_STATE NAME=CHANGE_FILAMENT_state

[gcode_macro UNLOAD_FILAMENT]
description: Basic unload of the filament (used with M600/CHANGE_FILAMENT)
gcode:
    {% set TEMP = params.TEMP|default(printer["gcode_macro _USER_VARIABLES"].print_default_extruder_temp)|float %}
    {% set DISTANCE = params.DISTANCE|default(105)|float %}

    	SAVE_GCODE_STATE NAME=UNLOAD_FILAMENT_state
    	_LOW_TEMP_CHECK T={TEMP}
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0
#    _TIP_SHAPING
    M83                            ; set extruder to relative
    G1 E5 F800                    ; extrude a little to soften tip
    G1 E-120 F2000                ; retract filament completely
    M82                            ; set extruder to absolute
	RESTORE_GCODE_STATE NAME=UNLOAD_FILAMENT_state


[gcode_macro LOAD_FILAMENT]
description: Basic load of the filament (used with M600/CHANGE_FILAMENT)
gcode:
    {% set TEMP = params.TEMP|default(printer["gcode_macro _USER_VARIABLES"].print_default_extruder_temp)|float %}
    {% set DISTANCE = params.DISTANCE|default(105)|float %}

    	SAVE_GCODE_STATE NAME=LOAD_FILAMENT_state
    	_LOW_TEMP_CHECK T={TEMP}
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0
    M83                            ; set extruder to relative
    G1 Z20
    G1 E150 F300                   ; slower extrusion for hotend path
    G1 E-1 F100                    ; prime nozzle with filament
    M82                            ; set extruder to absolute
    RESTORE_GCODE_STATE NAME=LOAD_FILAMENT_state


[gcode_macro _TIP_SHAPING]
description: Filament tip shaping sequence
gcode:
    {% set TEMP = params.TEMP|default(printer["gcode_macro _USER_VARIABLES"].print_default_extruder_temp)|float %}

	SAVE_GCODE_STATE NAME=TIP_SHAPING_state
	_LOW_TEMP_CHECK T={TEMP}
    
    {% set old_pressure_advance = printer.extruder.pressure_advance|default(0) %} # old pressure advance
    # we suppress pressure advance
    SET_PRESSURE_ADVANCE ADVANCE=0

    M82
    G92 E0
    G1 E2 F2800
    G1 E0 F2800
    G1 E3 F2800
    G1 E0 F2800
    G1 E4 F2800
    G1 E0 F2800

    # set last pressure advance
    SET_PRESSURE_ADVANCE ADVANCE={old_pressure_advance}
	RESTORE_GCODE_STATE NAME=TIP_SHAPING_state


[gcode_macro _LOW_TEMP_CHECK]
description: Check the nozzle is at temperature and heat it if needed
gcode: 
    {% set T = params.T|default(printer["gcode_macro _USER_VARIABLES"].print_default_extruder_temp)|float %}

    {% if printer.extruder.target != 0 %}
        {% if printer.extruder.temperature < printer.extruder.target %}
            M109 S{printer.extruder.target|float} 
        {% endif %}
    {% else %}
        {% if printer.extruder.target < T %}
            M109 S{T}
        {% endif %}
    {% endif %}

[gcode_macro M109]
rename_existing: M99109
gcode:
    #Parameters
    {% set s = params.S|float %}
    
    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  ; Set hotend temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s} MAXIMUM={s+1}   ; Wait for hotend temp (within 1 degree)
    {% endif %}

[gcode_macro M190]
rename_existing: M99190
gcode:
    #Parameters
    {% set s = params.S|float %}

    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}   ; Set bed temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s} MAXIMUM={s+1}  ; Wait for bed temp (within 1 degree)
    {% endif %}