#####################################################################
# 	Macros Acciones
#####################################################################
[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=PAUSE_state  # Save the current G-code state with the name PAUSE_state.
  BASE_PAUSE  # Call the BASE_PAUSE macro.
  SET_IDLE_TIMEOUT TIMEOUT=7200  # Set idle timeout to 7200 seconds.
  G91  # Switch to relative positioning mode.
  G1 E-{1} F2100  # Retract filament at 2100 mm/minute.
  G1 Z{10} F900  # Move Z axis to position 10 at 900 mm/minute.
  G90  # Switch to absolute positioning mode.
  G1 X{50} Y{0} F6000  # Move X and Y axes to position (50, 0) at 6000 mm/minute.

[gcode_macro RESUME]
rename_existing: BASE_RESUME  # Rename an existing macro to BASE_RESUME.
gcode:
  ##### Read E from the pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### End of definitions #####
  G91  # Switch to relative positioning mode.
  G1 E{1} F2100  # Extrude filament by 1mm at a speed of 2100 mm/minute.
  RESTORE_GCODE_STATE NAME=PAUSE_state  # Restore G-code state from PAUSE_state.
  BASE_RESUME  # Call the BASE_RESUME macro.
  SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1  # Enable the filament sensor.

[gcode_macro CANCEL_PRINT]
rename_existing: CANCEL_PRINT_BASE  # Rename an existing macro to CANCEL_PRINT_BASE.
gcode:
  TURN_OFF_HEATERS  # Turn off all heaters.
  G91  # Switch to relative positioning mode.
  G1 Z10 E-2 F3000  # Retract the filament a bit before lifting the nozzle.
  G1 E-4 F4000  # Retract filament even more.
  G90  # Switch to absolute positioning mode.
  G1 X142 Y250 F7000  # Move X to 30 and Y to 250 at a speed of 7000 mm/minute; home X axis.
  M106 S125
  G4 P15000  # Wait for 15 seconds.
  M106 S0  # Turn off layer cooling fan.
  SET_FAN_SPEED FAN=RSCS SPEED=0
  M221 S100  # Reset extrusion multiplier to 100%.
  CANCEL_PRINT_BASE  # Call the CANCEL_PRINT_BASE macro.
  CLEAR_PAUSE  # Clear any pause state.
  PLAY_FINISH_PRINT  # Call a function or macro named PLAY_FINISH_PRINT.
  SET_GCODE_OFFSET Z=0.0  # Set G-code offset for Z-axis to 0.0.
  RESETSPEEDS  # Reset printing speeds to default values.
  DISABLEXYE  # Disable X, Y, and E axes.
  BED_MESH_CLEAR  # Clear bed mesh data.

#####################################################################
# 	Macros Start & End Gcode
##################################################################### 
[gcode_macro START_PRINT]
gcode:
  CLEAR_PAUSE  # Clear any previous pause state.
  RESETSPEEDS  # Reset printing speeds to default values.
  G21  # Set metric values.
  G90  # Set absolute positioning.
  M83  # Set extruder to relative mode.
  G28  # Home all axes.
  #Attach_Probe_Lock  # Attach the probe lock if applicable.
  M104 S140  # Set extruder temperature to 140°C without waiting.
  M190 S{params.BED_TEMP|default(printer.heater_bed.target, true)}  # Wait for bed to reach the specified temperature.
  M109 S140  # Wait for extruder to reach 140°C, allowing bed heat to spread.
  Carto_ZTilt #Z_TILT_ADJUST  # Adjust bed tilt if needed.
  G28 Z  # Home Z axis again after tilt adjustment and bed heating.
  BED_MESH_CLEAR  # Clear bed mesh data.
  #BED_MESH_CALIBRATE  # Calibrate bed mesh.
  #BED_MESH_PROFILE LOAD=default  # Load default bed mesh profile.
  BED_MESH_CALIBRATE PROFILE=adaptive ADAPTIVE=1
  SET_GCODE_OFFSET Z=0.0  # Set G-code offset for Z-axis to 0.0.
  #Dock_Probe_Unlock  # Unlock the probe dock if applicable.
  G1 X1 Y1 Z0.5 F9000  # Move to the starting line position at a fast feed rate.
  M109 S{params.EXTRUDER_TEMP|default(printer.extruder.target, true)}  # Wait for extruder to heat up to the specified temperature.
  PLAY_START_PRINT  # Call a function or macro named PLAY_START_PRINT.
  SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1  # Enable the filament sensor.
  PRIME_LINE  # Prime the extruder with a line of filament.
  M83  # Set extruder to relative mode.

[gcode_macro PRIME_LINE]
gcode: 
    M83  # Set extruder to relative mode.
    G92 E0  # Reset Extruder position to 0.
    G1 Z0.5 F3000  # Move Z Axis up to 0.5 at a speed of 3000 mm/minute.
    G1 X80 Y1 Z0.4 E20 F1500  # Draw the first line from X80 to X150 at Y1 and Z0.4, extruding 20mm at a speed of 1500 mm/minute.
    G1 X150 Y1 E20 F1500  # Draw the second line from X150 to X80 at Y1, extruding 20mm at a speed of 1500 mm/minute.
    G1 E-0.2 F2000  # Retract filament by 0.2mm at a speed of 2000 mm/minute.
    G92 E0  # Reset Extruder position to 0 after retraction.
    G1 Z1 F2000  # Move Z up to 1mm at a speed of 2000 mm/minute to avoid scratching the surface.

[gcode_macro END_PRINT]
gcode:
  TURN_OFF_HEATERS  # Turn off all heaters.
  G91  # Switch to relative positioning mode.
  G1 Z10 E-1 F3000  # Retract the filament a bit before lifting the nozzle.
  G1 E-4 F4000   # Retract filament even more.
  G90  # Switch to absolute positioning mode.
  G1 X142 Y250 F7000  # Move X to 30 and Y to 250 at a speed of 7000 mm/minute; home X axis.
  DISABLEXYE  # Disable X, Y, and E axes.
  M106 S125 # Turn on CPAP
  G4 P15000  # Wait for 15 seconds.
  M106 S0  # Turn off layer cooling fan.
  SET_FAN_SPEED FAN=RSCS SPEED=0
  M221 S100  # Reset extrusion multiplier to 100%.
  CLEAR_PAUSE  # Clear any pause state.
  #SET_SKEW CLEAR=1
  PLAY_FINISH_PRINT  # Call a function or macro named PLAY_FINISH_PRINT.
  SET_GCODE_OFFSET Z=0.0  # Set G-code offset for Z-axis to 0.0.
  RESETSPEEDS  # Reset printing speeds to default values.
  BED_MESH_CLEAR  # Clear bed mesh data.

[gcode_macro RESETSPEEDS]
gcode:
	SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} 
	SET_VELOCITY_LIMIT ACCEL={printer.configfile.settings.printer.max_accel}  
	#SET_VELOCITY_LIMIT MINIMUM_CRUISE_RATIO={printer.configfile.settings.printer.max_accel_to_decel} 
	SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={printer.configfile.settings.printer.square_corner_velocity} 

[gcode_macro DISABLEXYE]
gcode:
    SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0
    SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=0
    SET_STEPPER_ENABLE STEPPER=stepper_x1 ENABLE=0
    SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=0
    SET_STEPPER_ENABLE STEPPER=stepper_y1 ENABLE=0
    SET_STEPPER_ENABLE STEPPER=stepper_z ENABLE=1
    SET_STEPPER_ENABLE STEPPER=stepper_z1 ENABLE=1
    SET_STEPPER_ENABLE STEPPER=stepper_z2 ENABLE=1