#####################################################################
# 	Macros Acciones
#####################################################################
[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=PAUSE_state
  BASE_PAUSE
  SET_IDLE_TIMEOUT TIMEOUT=7200
  G91
  G1 E-{1} F2100
  G1 Z{10} F900
  G90
  G1 X{50} Y{0} F6000

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### end of definitions #####
  G91
  G1 E{1} F2100
  RESTORE_GCODE_STATE NAME=PAUSE_state
  BASE_RESUME

[gcode_macro CANCEL_PRINT]
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  G91 ;relative positioning
  G1 Z10 E-2 F3600  ;retract the filament a bit before lifting the nozzle.
  G1 E-3 F3600 ;retract filament even more
  G90 ;absolute positioning
  G1 X30 Y250 F7000; home X axis
  M84 X Y E
  M106 S255 ; layer cooling fan ON
  G4 P20000 ; wait 20 seconds
  M106 S0 ; Layer cooling fan off
  
  SET_GCODE_OFFSET Z=0.0
  RESETSPEEDS
  DISABLEXYE
  BED_MESH_CLEAR
  CLEAR_PAUSE

#####################################################################
# 	Macros Start & End Gcode
##################################################################### 
[gcode_macro START_PRINT]
gcode:
  CLEAR_PAUSE
  RESETSPEEDS
  M220 S100 ; reset feedrate
  G21 ;metric values
  G90 ;absolute positioning
  M83 ;extruder relative mode
  G28 ;home
  Attach_Probe_Lock
  M104 S160 
  M190 S{params.BED_TEMP|default(printer.heater_bed.target, true) }; wait for bed to heat up
  M109 S160 ; Wait for extruder to reach 150 so an inductive probe (if present) is at a predictable temp. Also allows the bed heat to spread a little.
  Z_TILT_ADJUST ;Adjust bed tilt
  G28 Z ;Home again as Z will have changed after tilt adjustment and bed heating.
  SET_GCODE_OFFSET Z=0.0
  BED_MESH_CLEAR
  BED_MESH_CALIBRATE
  #{% set FL_SIZE = params.SIZE|default("0_0_0_0")|string %}
  #ADAPTIVE_BED_MESH SIZE={FL_SIZE}
  Dock_Probe_Unlock
  G1 X1 Y1 Z0.5 F9000 ; move to start line position 
  M109 S{params.EXTRUDER_TEMP|default(printer.extruder.target, true) }; wait for extruder to heat up
  PLAY_START_PRINT
  PRIME_LINE
  M83  ; extruder relative mode
  G92 E0

[gcode_macro PRIME_LINE]
gcode: 
    M83  ; extruder relative mode
    G92 E0 ;Reset Extruder
    G1 Z1 F3000 ;Move Z Axis up
    G1 X1 Y80 Z0.3 E10  F1200 ;Draw the first line
    G1 X1 Y120 E11  F1200 ;Draw the second line
    G1 E-0.8 F1000 ; retract filament
    G92 E0 ;Reset Extruder
    G1 Z1 F2000 ; Move Z up to avoid scratching surface

[gcode_macro END_PRINT]
gcode:
  TURN_OFF_HEATERS
  G91 ;relative positioning
  G1 Z10 E-2 F3600  ;retract the filament a bit before lifting the nozzle.
  G1 E-3 F3600 ;retract filament even more
  G90 ;absolute positioning
  G1 X30 Y250 F7000; home X axis
  M84 X Y E
  M106 S255 ; layer cooling fan ON
  G4 P20000 ; wait 20 seconds
  M106 S0 ; Layer cooling fan off
  PLAY_FINISH_PRINT
  SET_GCODE_OFFSET Z=0.0
  RESETSPEEDS
  DISABLEXYE
  BED_MESH_CLEAR
  CLEAR_PAUSE

[gcode_macro RESETSPEEDS]
gcode:
	SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} 
	SET_VELOCITY_LIMIT ACCEL={printer.configfile.settings.printer.max_accel}  
	SET_VELOCITY_LIMIT ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel} 
	SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={printer.configfile.settings.printer.square_corner_velocity} 

[gcode_macro DISABLEXYE]
gcode:
    SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0
    SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=0
    SET_STEPPER_ENABLE STEPPER=stepper_x1 ENABLE=0
    SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=0
    SET_STEPPER_ENABLE STEPPER=stepper_y1 ENABLE=0
    SET_STEPPER_ENABLE STEPPER=stepper_z ENABLE=1
    SET_STEPPER_ENABLE STEPPER=stepper_z1 ENABLE=1
    SET_STEPPER_ENABLE STEPPER=stepper_z2 ENABLE=1; disable all motors but Z