[gcode_macro _USER_VARIABLES]
# Enable verbose output to let the macro have a chat
variable_verbose: True

#######################################
# Feedrate setpoints for all the macros
#######################################

variable_homing_travel_speed: 350
variable_travel_speed: 350
variable_z_drop_speed: 30


#################################################
# Homing, start_print and end_print variables
#################################################

# Force always a full homing and QGL during the START_PRINT macro
variable_force_homing_in_start_print: False

# Z hop before homing to avoid grinding
# the bed due to the gantry sag
variable_homing_zhop: 3

# default START_PRINT parameters
variable_print_default_bed_temp: 110
variable_print_default_extruder_temp: 240
variable_print_default_chamber_temp: 0
variable_print_default_chamber_max_heating_time: 15
variable_print_default_soak: 8
variable_print_default_material: "XXX"

# Park position used when pause, end_print, etc...
variable_park_position_xy: 50, 10 
variable_park_lift_z: 10

# Automatically disable motors in the END_PRINT macro
variable_disable_motors_in_end_print: True


################################################
# Other hardware options used in the macros
################################################

# Purge zone available in the machine
# If this is not available in the machine, set the following
# variables to "-1, -1" for safety
variable_purge_zone_enabled: False
variable_purge_zone_xyz: 162, 0, 20 # Purge bucket position
variable_purge_distance: 30 # Amount to purge

# Recirculating carbon filter (example: Nevermove v5, etc...)
variable_filter_enabled: False
variable_filter_name: "filter"

# If the machine is equiped by a temperature sensor in the chamber
# it will be used to measure and control the chamber heatsoak
variable_chamber_temperature_sensor_enabled: False
variable_chamber_temperature_sensor_name: "Chamber"

gcode: