##################################################################
########################## EXTRUDER ##############################
##################################################################

#_____________________#### Extruder On Drive 2 ####_________________

[tmc2209 extruder]
uart_pin: PC6
run_current: 0.650
sense_resistor: 0.110
interpolate: False
driver_TBL: 1
driver_TOFF: 3 
driver_HSTRT: 0
driver_HEND: 3

[extruder]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
heater_pin: PA2 # HE0
microsteps: 16
# new_rd = previous_rd * mesured_distance / requested_distance // G91 --> G1 E200 F60
gear_ratio: 50:10 #Alu VzHextrudORT Emebe 
rotation_distance: 22.035 #Alu VzHextrudORT Emebe #22.15
full_steps_per_rotation: 200
nozzle_diameter: 0.4
filament_diameter: 1.750
sensor_type: PT1000 #Goliath TL Thermistor
sensor_pin:  PF3
pullup_resistor: 4700
min_temp: 0
max_temp: 320
min_extrude_temp: 180
max_extrude_only_distance: 2000
max_extrude_cross_section: 9999
max_extrude_only_velocity: 120
max_extrude_only_accel: 10000
pressure_advance: 0.035
pressure_advance_smooth_time: 0.03

########################## PT1000 Port ##############################
#PT1000 to MAX31865
#sensor_type: MAX31865
#sensor_pin: PF8
#spi_bus: spi1
#rtd_use_50Hz_filter: True
#rtd_nominal_r: 1000
#rtd_reference_r: 4300
#rtd_num_of_wires: 2

########################## Types ##############################
##sensor_type: ATC Semitec 104NT-4-R025H42G #RAPIDO UHF
##sensor_type: Generic 3950 #Trianglelab NTC100K B3950 #DRAGON HF

########################## MPC Control ##############################
#control: mpc
#heater_power: 100
#cooling_fan: fan
#filament_diameter: 1.75
#filament_density: 1.20
#filament_heat_capacity: 1.8 
#block_heat_capacity: 20.7993 
#sensor_responsiveness: 0.0902884
#ambient_transfer: 0.0812411
#fan_ambient_transfer: 0.0812411, 0.0805776, 0.113083, 0.138911, 0.152486, 0.173619, 0.202201, 0.227748, 0.252955, 0.261508, 0.263134

########################## PID Control ##############################
control: pid
pid_Kp:18.688
pid_Ki:1.307
pid_Kd:66.808

[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg
voltage: 24