##################################################
###########     FANS CONFIGURATION     ###########
##################################################

##################################################
	            	#Cooling
##################################################

#Hotend Fan
[heater_fan hotend_fan]
pin: PA8 # J50
shutdown_speed:0
hardware_pwm:false
heater: extruder
heater_temp: 50.0
fan_speed: 1

#LayerFan //12v GDSTime
[fan]
pin: PE5 # J51
max_power: 1.0
kick_start_time: 0.5
off_below: 0.13
cycle_time: 0.001

#Raspberry Fan
[temperature_fan RPI]
sensor_type: temperature_host
pin: PD12 #J52
max_power: 0.8
shutdown_speed: 0
cycle_time: 0.010
kick_start_time: 0.100
control: watermark
min_temp: 5
max_temp: 80
target_temp: 45
max_speed: 0.8
min_speed: 0.5

#BoardFan
[temperature_fan MCU]
sensor_type: temperature_mcu
pin: PD13 #J53
max_power: 0.8
shutdown_speed: 0
cycle_time: 0.010
kick_start_time: 0.100
control: watermark
min_temp: 5
max_temp: 80
target_temp: 45
max_speed: 0.8
min_speed: 0.5

#Supernova Fan
[temperature_fan TMC5160]
sensor_type: ATC Semitec 104GT-2
sensor_pin: PF5
pullup_resistor: 4700
pin: PD15 #J55 
max_power: 1.0
shutdown_speed: 0
cycle_time: 0.010
kick_start_time: 0.100
control: watermark
min_temp: 5
max_temp: 80
target_temp: 40
max_speed: 1.0
min_speed: 0.8

#Exhaust Fans
[temperature_fan Exhaust]
sensor_type: Generic 3950
sensor_pin: PF6
pullup_resistor: 4700
pin: !PG12
max_power: 1.0
shutdown_speed: 0
control: watermark
min_temp: 5
max_temp: 50
target_temp: 45
max_speed: 1
min_speed: 0

[duplicate_pin_override]
pins: PG12, PF6