##https://github.com/zellneralex/klipper_config/blob/master/input_shaper.cfg

###### RESONANCE TESTING ######
###### #PORTABLE PICO-ADXL ######
#[mcu adxl]
#serial: /dev/serial/by-id/usb-Klipper_rp2040_E66118C4E37E5627-if00

#[adxl345]
#cs_pin: adxl:gpio1
#spi_bus: spi0a

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
    142,142,20

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 115.8
shaper_type_y = mzv
shaper_freq_y = 85.6