##https://github.com/zellneralex/klipper_config/blob/master/input_shaper.cfg

###### RESONANCE TESTING ######
###### #PORTABLE PICO-ADXL ######
#[mcu adxl]
#serial: /dev/serial/by-id/usb-Klipper_rp2040_E66118C4E37E5627-if00

#[adxl345]
#cs_pin: adxl:gpio1
#spi_bus: spi0a

#########################
[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
accel_per_hz: 150
max_freq: 200
probe_points:
    145,150,20

[input_shaper]
shaper_type_x = zv
shaper_freq_x = 76.8
shaper_type_y = mzv
shaper_freq_y = 116.4
damping_ratio_x: 0.054
damping_ratio_y: 0.038


#########################
### https://github.com/bigtreetech/LIS2DW ###
#[mcu btt_lis2dw]
#serial: /dev/serial/by-id/usb-Klipper_rp2040_4550357129113278-if00

#[lis2dw]
#cs_pin: btt_lis2dw:gpio9
##spi_bus: spi1a
#spi_software_sclk_pin: btt_lis2dw:gpio10
#spi_software_mosi_pin: btt_lis2dw:gpio11
#spi_software_miso_pin: btt_lis2dw:gpio8

#[resonance_tester]
#accel_per_hz: 150
#max_freq: 200
#probe_points: 145,150,20
#accel_chip: lis2dw