##################################################
##########     SERVO CONFIGURATION     ###########
##################################################

[servo probe_dock_servo]
pin: PE14            # PB6 is for Octopus Pro 1.1, use the appropriate pin for your MCU
#   PWM output pin controlling the servo. This parameter must be
#   provided.
maximum_servo_angle: 180 #valor mas grande, mas arriba
#   The maximum angle (in degrees) that this servo can be set to. The
#   default is 180 degrees.
minimum_pulse_width: 0.0005
#   The minimum pulse width time (in seconds). This should correspond
#   with an angle of 0 degrees. The default is 0.001 seconds.
maximum_pulse_width: 0.0025
#   The maximum pulse width time (in seconds). This should correspond
#   with an angle of maximum_servo_angle. The default is 0.002
#   seconds.
initial_angle: 180  # to edit for your case
#   Initial angle (in degrees) to set the servo to.The default is to
#   not send any signal at startup.
